.dropdown_container {
  position: relative;
  width: 100%;
  min-width: 50px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &:focus-within,
  &:hover {
    .dropdown_items {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }
  }
}

.dropdown_icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown_items {
  z-index: 99;
  position: absolute;
  top: 3.7rem;
  right: 0rem;
  width: 13rem;
  transform-origin: top right;

  background: #151a20;
  border-radius: 0.5rem;
  padding: 0.5rem;

  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: 200ms;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.dropdown_item {
  width: 100%;
  color: #ffffff;
  background: #151a20;
  border: none;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: left;
  cursor: pointer;
  border-radius: 0.3rem;

  &:hover {
    background: #1b2127;
  }
}
