.paste_header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.paste_creator {
  display: flex;
  text-decoration: none;
  color: #ffffff;

  img {
    border-radius: 50%;
  }

  > div:nth-child(1) {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;

    p {
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
    }
  }
}

.paste_btn {
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 0.3rem;
  color: #ffffff;
  font-weight: bold;
  margin-right: 0.5rem;
}

button.paste_btn {
  background: rgb(175, 42, 42);
  border: 1px solid rgb(175, 42, 42);
}
